<h2 class="my-bookings" *ngIf="!ifProposed">My bookings</h2>
<h2 class="my-bookings" *ngIf="ifProposed" >Proposed trips</h2>
<h3 class="upcoming">Upcoming trips</h3>
<div *ngFor="let trip of Trips">
  <div class="trips-container">
    <img class="route-shot" src="{{testTrip.routeURL}}" />
    <div class="trip">
      <div class="field">{{testTrip.date}}</div>
      <div class="field"> {{testTrip.driverCallNumber}}</div>
      <div class="field"> {{testTrip.startPoint}}</div>
      <div class="field"> {{testTrip.endPoint}} </div>
      <button class="edit-button" mat-flat-button color="warn" *ngIf="ifProposed">Edit</button>
      <button class="cancel-button" mat-flat-button color="warn" (click)="cancelTrip.emit(trip)">Cancel</button>
    </div>
  </div>
</div>
<h3 class="archive">Archive</h3>

