@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
@mixin font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@mixin placeholder {
&::-webkit-input-placeholder {
@content;
}
&:-moz-placeholder {
 @content;
 }
&::-moz-placeholder {
 @content;
 }
&:-ms-input-placeholder {
 @content;
 }
}

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;

  .left {
    flex-basis: 35%;
    height: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;

    .people {
      border-right: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      width: calc(100% + 2px);
      list-style-type: none;
      padding-left: 0;
      border-bottom: 1px solid #e6e6e6;
      margin: 0 0 0 -1px;

      .person {
        padding: 12px 10% 16px;
        cursor: pointer;
        background-color: #fff;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 80%;
          height: 1px;
          content: '';
          background-color: #e6e6e6;
          transform: translate(-50%, 0);
        }

        mat-icon {
          float: left;
          font-size: 2rem;
          color: #fc503f;
          margin-right: 12px;
        }

        .name {
          font-size: 14px;
          line-height: 22px;
          color: #1a1a1a;
          @include font-bold;
        }

        .time {
          font-size: 14px;
          position: absolute;
          top: 16px;
          right: 10%;
          padding: 0 0 5px 5px;
          color: #999;
          background-color: #eeeeee;
        }

        .preview {
          font-size: 14px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #999;
        }

        &.active, &:hover {
          margin-top: -1px;
          margin-left: -1px;
          border: 0;
          background-color: #44A08D;
          width: calc(100% + 2px);
          padding-left: calc(10% + 1px);

          span {
            color: #eeeeee;
            background: transparent;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .right {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .chat {
      overflow: hidden;
      padding: 0 17px 35px;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: #e6e6e6;
      flex-basis: 95%;
      justify-content: flex-end;
      flex-direction: column;
      overflow-y: auto;

      &.active-chat {
        display: block;
        display: flex;
        .bubble {
          transition-timing-function: cubic-bezier(.4,-.04, 1, 1);
          @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
              animation-duration: .15s * $i;
            }
          }
        }
      }
    }

    .write {
      flex-basis: 5%;
      width: 94%;
      align-self: center;

      .form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .write-input {
          border: 1px solid #e6e6e6;
          border-radius: 0.5rem;
          align-self: center;
          padding: 1% 2%;
          font-size: 20px;
          color: rgb(45, 41, 41);
          outline: none;
          background-color: #fff;
          flex-basis: 90%;
          @include font;
        }

        .submit-btn {
          margin: 1% 0;

          i {
            font-size: 1.5em;
          }
        }
      }
    }

    .bubble {
        font-size: 16px;
        position: relative;
        display: inline-block;
        clear: both;
        margin-bottom: 8px;
        padding: 13px 14px;
        vertical-align: top;
        border-radius: 5px;
        &:before {
          position: absolute;
          top: 19px;
          display: block;
          width: 8px;
          height: 6px;
          content: '\00a0';
          transform: rotate(29deg) skew(-35deg);
        }
        &.you {
          float: left;
          color: #fff;
          background-color: #44A08D;
          align-self: flex-start;
          animation-name: slideFromLeft;
          &:before {
            left: -3px;
            background-color: #44A08D;
          }
        }
        &.me {
          float: right;
          color: #1a1a1a;
          background-color: #fff;
          align-self: flex-end;
          animation-name: slideFromRight;
          &:before {
            right: -3px;
            background-color: #fff;
          }
        }
      .name {
        margin-bottom: 5%;
        border-bottom: 1px solid #eeeeee;
        font-size: 0.7em;
        font-weight: bold;
      }
      }
       .conversation-start {
         position: relative;
         width: 100%;
         margin-bottom: 27px;
         text-align: center;

          span {
            font-size: 14px;
            display: inline-block;
            color: #999;

            &:before, &:after {
              position: absolute;
              top: 10px;
              display: inline-block;
              width: 30%;
              height: 1px;
              content: '';
              background-color: #e6e6e6;
            }

            &:before {
              left: 0;
            }

            &:after {
              right: 0;
            }
          }
        }
      }
}

mat-card.notification.mat-card {
  text-align: center;
  color: #e44326;
  font-size: 1.5em;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}


