$top-panel-height: 5.15rem;
$top-filters-height: 2rem;
$amc-logo-height: 51px;
$amc-logo-width: 150px;
$left-panel-width: 12%;
$margin-content: 1rem;
$top-panel-max-button-width: 15rem;
$material-button-padding: 12px;
$kpi-height: 6rem;
$single-line-filter-height: 3rem;
$group-toggle-height: 1.5rem;
$group-toggle-gap-height: 0.5rem;
$card-title-height: 1.5rem;
$default-offset: 1rem;
