.confirmation {
  position: absolute;
  top: 7%;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-button {
  padding: 0 7.5%;
}

.container {
  text-align: center;
  background-color: #3761620d;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.4em;
  color: #376162;
  border: 5px dashed #44A08D;
  width: 32%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}


@media screen and (max-width: 414px) {
  .container {
    font-size: 1.3em;
    width: 86%;
    height: 52%;
  }
}
