<header class="page-header">
  <div class="header-container">
    <div *ngIf="router.url.includes('main')">
      <p class="role-toggle">
        Passenger
      </p>
      <mat-slide-toggle color="warn" (click)="changeDriverState()">
      </mat-slide-toggle>
      <p class="role-toggle">
        Driver
      </p>
    </div>
    <div *ngIf="!router.url.includes('main')" class="main-btn" (click)="goToMain()">
        <mat-icon>
          arrow_back_ios
        </mat-icon>
    </div>
    <img src="../../../../assets/logo.png" alt="Logo" class="logo" (click)="goToMain()" />
    <app-menu class="app-menu" *ngIf="router.url.includes('main')">
    </app-menu>
  </div>
</header>
