table {
  width: 98%;
  margin: 1% 1% 0 1%;
  font-family: 'Titillium Web', sans-serif;
  ::ng-deep {
    button.mat-sort-header-button {
      color: black;
      font-size: 1.5em;
    }
    .mat-sort-header-arrow {
      color: #004d40;
    }
    td {
      font-size: 1.4em;
    }
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1%;
  align-items: center;
}

mat-card.mat-card {
  margin: 1%;
  padding: 0.5% 0;
}
