<div class="menu">
  <button class="profile-button" mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon class="profile-icon">
      account_circle
    </mat-icon>
    <mat-icon class="profile-icon">
      keyboard_arrow_down
    </mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button class="menu-item" (click)="goToProfile()" mat-menu-item>
      {{menuItems.userProfile}}
      <mat-icon class="menu-icon">
        face
      </mat-icon>
    </button>
    <button class="menu-item" (click)="goToMyMessages()" mat-menu-item>
      {{menuItems.userMessages}}
      <mat-icon class="menu-icon">
        mail
      </mat-icon>
    </button>
    <button class="menu-item" (click)="goToMyBookings()" mat-menu-item>
      {{menuItems.userBookings}}
      <mat-icon class="menu-icon">
        where_to_vote
      </mat-icon>
    </button>
    <button class="menu-item" (click)="goToMyProposed()" mat-menu-item>
      {{menuItems.userProposedTrips}}
      <mat-icon class="menu-icon">
        directions_car
      </mat-icon>
    </button>
    <button class="menu-item" (click)="goToAdminTab()" mat-menu-item *ngIf="isAdmin">
      {{menuItems.adminTab}}
      <mat-icon class="menu-icon">
        gavel
      </mat-icon>
    </button>
    <button class="menu-item" (click)="logOut()" mat-menu-item>
      {{menuItems.menuExit}}
      <mat-icon class="menu-icon">
        exit_to_app
      </mat-icon>
    </button>
  </mat-menu>
</div>
