button[mat-button] {
  min-width: 100px;
  line-height: 52px;
}

.mat-icon {
  height: 45px;
  width: 45px;
}
.material-icons {
  font-size: 45px;
  color: whitesmoke;
}

.mat-menu-item {
  display: inline-block;
  font-size: 1.4em;
}
