.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin: 3%;
}

.photo-container {
  padding: 1.5%;
  background: #fff;
  text-align: center;
  flex-basis: 0%;
  flex-grow: 1;
  align-self: center;
}

.personal-data {
  background: #fff;
  margin-left: 7%;
  flex-basis: 38%;
  padding: 1% 4%;
  flex-grow: 1;
  align-self: flex-start;
  height: auto;
  font-family: 'Titillium Web', sans-serif;
}

.personal-data h1 {
  margin-bottom: 3%;
  border-bottom: 1px solid lightgrey;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.7em;
  line-height: 1.5;
  font-weight: bold;
  color: #093738bd;
}

.data-table {
  font-size: 1.6em;
  line-height: 1.1;
  width: 100%;
}

.parameter {
  color: #376061;
  width: 50%;
  padding: 1% 0;
}

.value {
  color: #376061;
}

.form-control {
  width: 50%;
}

::ng-deep {
  mat-option[id^=mat-option].mat-option.ng-star-inserted {
    height: 2em;
  }
  span[class^=ng-tns].ng-star-inserted {
    font-size: 1em;
    font-family: "Titillium Web", sans-serif;
    line-height: 1.5;
  }
}

.material-icons {
  font-size: 30px;
  color: #ffda13;
}

.photo-container h2 {
  font-size: 1.5em;
}

.photo {
  max-width: 300px;
}

::ng-deep {
  span.ng-tns-c12-1.ng-star-inserted {
    color: #4e6f6f;
    font-weight: 100;
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.2;
  }
  .mat-option {
    color: #4e6f6f;
    font-weight: 100;
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
  }
  .mat-select-value-text {
    color: #376061;
    font-size: 1em;
  }
}

@media screen and (max-width: 1100px) {
  .personal-data {
    margin: 0;
  }
  .photo {
    max-width: 300px;
  }
  .data-table {
    font-size: 0.9em;
  }
  .form-control {
    width: 50%;
  }
}



