.label {
  color: #376061;
  font-size: 1.6em;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 2%;
}

.car {
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  color: #376061;
  align-items: center;
}

.car-icon {
  color: #ff844c;
  margin-right: 5%;
}

.temp h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

.temp:not(:last-child) {
  margin-right: 3%;
}


@media screen and (max-width: 414px) {
  .label {
    font-size: 0.9em;
    margin-top: -13%;
  }
  .temp h3 {
    font-size: 0.8em;
  }
}
