<div class="container">
  <div class="info">
    <h2 class="title">{{label.confirmLabel}}</h2>
    <table class="list">
      <tr><td class="parameter">Driver:</td><td class="value">{{driver.name}}</td></tr>
      <tr><td class="parameter">Phone:</td><td class="value"><a href="tel:{{driver.phoneNumber}}">{{driver.phoneNumber}}</a></td></tr>
      <tr><td class="parameter">Communicate via:</td><td class="value">{{driver.prefCommunication || "telephone"}}</td></tr>
      <tr><td class="parameter">Departure time:</td><td class="value">{{driveDate}}</td></tr>
    </table>
    <div class="buttons">
      <button mat-raised-button (click)="goToSuccess()" class="button">{{buttonLabel.bookButton}}</button>
      <button mat-raised-button (click)="goToMain()" class="button cancel-button">{{buttonLabel.cancelButton}}</button>
    </div>
  </div>
</div>
