<div class="container">
  <div class="info">
    <h2 class="title">Booking confirmation</h2>
    <table class="list">
      <tr><td class="parameter">Driver:</td><td class="value">Ilia</td></tr>
      <tr><td class="parameter">Car:</td><td class="value">Red Fiat 500 1111HK-7</td></tr>
      <tr><td class="parameter">Phone:</td><td class="value"><a href="tel:+375(44)111-11-11">+375 (44) 111-11-11</a></td></tr>
      <tr><td class="parameter">Communicate via:</td><td class="value">Telegram</td></tr>
      <tr><td class="parameter">Departure time:</td><td class="value">17:45</td></tr>
      <tr><td class="parameter">Your pickup point:</td><td class="value">Купревича, 3</td></tr>
    </table>
    <button class="book-button button">Book</button>
    <button class="cancel-button button">Cancel</button>
  </div>
</div>
