.container {
  position: absolute;
  top: 7%;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7fc;
  font-family: 'Titillium Web', sans-serif;
}

.info {
  background-color: #3761620d;
  border: 5px dashed #44A08D;
  padding: 2%;
}

.list {
  font-size: 2.3em;
  line-height: 1.1;
  width: 100%;
}

.title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.7em;
  line-height: 1.5;
  font-weight: bold;
  color: #093738bd;
  text-align: center;
}

.parameter,
.value {
  padding: 3% 0 0 3%;
  color: #376061;
  width: 50%;
}

.value a {
  text-decoration: none;
  color: #376061;
}

.button {
  padding: 0 7%;
  color: #376061;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
}

.button:first-child {
  margin-right: 9%;
}

.cancel-button {
  color: #d32f2f;
  margin-left: 9%;
}

.buttons {
  text-align: center;
  margin: 5% 0;
}

@media screen and (max-width: 414px) {
  .list {
    font-size: 1.4em;
  }
  .button {
    font-size: 1em;
    margin: 5% 12%;
  }
}



