app-map {
  ::ng-deep {
    #map {
      width: 100%;
    }
  }
}

.save {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 1.5em;
  font-weight: bold;
}

