.leftMenu {
  position: absolute;
  top: 7%;
  bottom: 5%;
  width: 25%;
  background-color: #f7f7fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLabel {
  font-family: "Titillium Web", sans-serif;
  font-size: 3em;
  color: #093738bd;
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
  line-height: 1;
}

.form-container {
  margin: 15% 10%;
  display: flex;
  height: 69%;
  flex-direction: column;
}

.leftMenu-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: block;
  margin-top: 10%;
  font-size: 1.4em;
  font-family: 'Titillium Web', sans-serif;

  ::ng-deep {
    ngx-timepicker-field {
      .ngx-timepicker-control__input {
        background-color: #f7f7fc;
      }
    }
  }
}

.timeField {
  align-self: center;
}

.search {
  border: 1px solid #fff;
  background: #70a0a0;
  align-self: center;
  padding: 1% 11%;
}
