<div class="car-form">
  <form [formGroup]="profileForm">
    <input type="text" id="model" name="carModel" class="car-input" placeholder="Car model" formControlName="model" required>

    <input type="text" id="number" name="carNumber" class="car-input" placeholder="Car number" formControlName="number" required>

    <input type="text" id="color" name="carColor" class="car-input" placeholder="Car color" formControlName="color" required>
    <button type = "submit" [disabled]="profileForm.invalid" class="add" mat-mini-fab color="warn" (click)="addCar.emit(profileForm.value); clearValues()"><mat-icon>add</mat-icon></button>
  </form>
</div>


