.rightMenu {
  position: absolute;
  top: 7%;
  bottom: 5%;
  right: 0;
  width: 25%;
  background-color: #f7f7fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLabel {
  font-family: "Titillium Web", sans-serif;
  font-size: 3em;
  color: #093738bd;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.form-container {
  width: 72%
}

.rightMenu-form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: block;
  margin-top: 10%;
  font-size: 1.4em;
  font-family: 'Titillium Web', sans-serif;

  ::ng-deep {
    ngx-timepicker-field {
      .ngx-timepicker-control__input {
        background-color: #f7f7fc;
      }
    }
  }
}

.timeField {
  align-self: center;
}

.create {
  border: 1px solid #fff;
  background: #70a0a0;
  align-self: center;
}

@media screen and (max-height: 750px) {
  .inputs {
    margin-top: 2%;
  }
}
