<div class="rightMenu">
  <h2 class="formLabel">Create a trip</h2>
  <div class="form-container">
    <form class ="rightMenu-form" [formGroup]="RightMenuInfo" (ngSubmit)="onSubmit()">
      <mat-form-field class="inputs">
        <input matInput formControlName = "date" [matDatepicker]="picker" placeholder="Choose a date" required  id="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="!(date.errors == null)" class="errorFormDate inputs">
        {{date.errors.forbiddenDate.value}}
      </div>
      <div class="ngx-timepicker-field-example inputs timeField">
        <ngx-timepicker-field formControlName = "time" [controlOnly]="true" id = "time"></ngx-timepicker-field>
      </div>
      <div formGroupName="address">
        <mat-form-field class="inputs">
          <input  matInput formControlName = "startr" placeholder="Start point" id="startr">
        </mat-form-field>
        <mat-form-field class="inputs">
          <input matInput formControlName = "endr"  placeholder="End point" id="endr" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="inputs">
          <input matInput type="number" formControlName = "numberOfSeats" placeholder="Number of seats" id="numberOfSeats">
        </mat-form-field>
      </div>
      <div class="errorFormNumber" *ngIf="!(numberOfSeats.errors == null)">
        {{numberOfSeats.errors.forbiddenDate.value}}
      </div>
      <div class="btn">
      <button type="submit" [disabled]="RightMenuInfo.invalid" (click)="onSubmitForm()" class="create inputs" mat-button>{{buttonLabel.drawRoute}}</button>
      <button type="button" [disabled] = "ifDraw" (click)="onCreate()" class="create inputs" mat-button >{{buttonLabel.createRoute}}</button>
      </div>
    </form>
  </div>
</div>
