<body>
<form class ="rightMenu" [formGroup]="RightMenuInfo" (ngSubmit)="onSubmit()">
  <div class="ngx-timepicker-field-example">
    <ngx-timepicker-field formControlName = "time" [controlOnly]="true" ></ngx-timepicker-field>
  </div>
  <mat-form-field>
    <input matInput formControlName = "date" [matDatepicker]="picker" placeholder="Choose a date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="errorFormDate" *ngIf="!(date.errors == null)">
    {{date.errors.forbiddenDate.value}}
  </div>
  <div formGroupName="adress">
    <mat-form-field >
      <input matInput formControlName = "start" placeholder="Start point" required>
    </mat-form-field>
    <mat-form-field >
      <input matInput formControlName = "end"  placeholder="End point" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="number" formControlName = "numberOfSeats" placeholder="Number of seats" required>
    </mat-form-field>
  </div>
  <div class="errorFormNumber" *ngIf="!(numberOfSeats.errors == null)">
    {{numberOfSeats.errors.forbiddenDate.value}}
  </div>
  <button type="submit" [disabled]="RightMenuInfo.invalid" class="search" mat-button>Create route</button>
</form>
</body>
