<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>• WillCar •</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/logo.png" rel="icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href = "https://kushagragour.in/lab/hint/hint.min.css" rel = "stylesheet"/>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=a42a8b48-097d-4cec-888f-351731775225&lang=en_RU"
          type="text/javascript">
  </script>
</head>
<body  class="willcar-body mat-typography">
  <app-root></app-root>

  <div class="app-loading">
    <div class="semipolar-spinner">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
    </div>
  </div>
  <script src="js/runtime-es2015.js" type="module"></script>
  <script src="js/polyfills-es2015.js" type="module"></script>
  <script nomodule src="js/runtime-es5.js"></script>
  <script nomodule src="js/polyfills-es5.js"></script>
  <script src="js/styles-es2015.js" type="module"></script>
  <script nomodule src="js/styles-es5.js"></script>
  <script src="js/vendor-es2015.js" type="module"></script>
  <script src="js/main-es2015.js" type="module"></script>
  <script nomodule src="js/vendor-es5.js"></script>
  <script nomodule src="js/main-es5.js"></script>
</body>
</html>
